.title {
  background: var(--blue-200);
  text-align: left;
  border-radius: var(--radius);
  margin: var(--main-padding);
  padding: var(--main-padding);
  text-transform: capitalize;
  background-clip: text;
  font-size: xx-large;
  color: transparent;
  font-weight: bold;
}

details {
  border: 1px solid #aaa;
  border-radius: var(--radius);
  padding: 0.5em 0.5em 0;
  margin: var(--main-margin);
  transition: all var(--speed);
  color: var(--gray-200);
}

summary {
  font-weight: bold;
  padding: var(--main-padding);
  transition: all var(--speed);
  outline: none;
}

details[open] {
  padding: 0.5em;
  transition: all var(--speed);
}

details[open] summary {
  color: var(--blue-200);
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
  transition: all var(--speed);
}
