.textarea {
  margin: 2 rem;
  padding: 1em;
}

input[type='text'],
select,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
}

input[type='submit'] {
  border: none;
  background: #4aaaa5;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-size: var(--text-xl);
}

.articlesContainer {
  margin: 1rem;
  padding: 1rem;
}

.textareacomponent {
  font-family: sans-serif, monospace;

  font-size: var(--text-sm);
  min-height: 40px;
  min-width: 500px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #c1c1c1;
  height: auto;
}

.textareacomponent2 {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.textareacomponent2 {
  border: 1px solid #ccc;
  font-family: inherit;
  padding: 1px 6px;
}
.width-machine {
  /*   Sort of a magic number to add extra space for number spinner */
  padding: 0 1rem;
}

.textareacomponent2 {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.textareacomponent2[contenteditable]:empty::before {
  content: 'Placeholder still possible';
  color: gray;
}
