.image {
  width: 50px;
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--text-light);
  cursor: pointer;
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--text-light);
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform var(--speed);
}

.dropdownContainer {
  position: relative;
}

.label {
  color: var(--text-light, #999);
  font-weight: normal;
}

.label::after {
  margin-left: calc(var(--main-margin) / 3);
  font-size: var(--text-xs);
  content: '*';
  color: var(--pink-500);
}

.dropdownInput {
  display: flex;
  align-items: center;
  margin: calc(var(--main-margin) / 3) 0;
  background-color: var(--text-dark, #282c34);
  border: 1px solid var(--gray-200, #61dafb);
  border-radius: var(--radius);
  padding: var(--main-padding);
  color: var(--gray-200);
  font-weight: lighter;
}
.dropdownPlaceholder {
  margin-bottom: 6px;
  color: dimgrey;
}
.dropdownValues {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 6px;
}

.dropdownValue {
  color: black;
  padding: 4px;
  background-color: darkgray;
  border-radius: 5px;
  margin-right: 6px;
  margin-bottom: 6px;
  animation: expand 0.1s ease-in-out;
}

.dropdownRemove {
  cursor: pointer;
}
.dropdownOptions {
  visibility: hidden;
  position: absolute;
  top: 100%;
  opacity: 0;
  -webkit-transition: all 600ms, visibility 600ms;
  transition: all 600ms, visibility 600ms;
}
.dropdownActive {
  visibility: visible;
  opacity: 10;
}
.dropdownItem {
  width: 100%;
  border-radius: var(--radius);
  height: calc(var(--main-margin) * 3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-dark);
  color: var(--gray-200);
  padding: var(--main-padding);
  border-bottom: 1px solid grey;
}
.dropdownItem:nth-child(odd) {
  filter: brightness(0.8);
}
.dropdownItem:last-child {
  margin-bottom: var(--main-margin);
}
.dropdownItem:hover {
  background-color: slategray;
}
.dropdownItem img {
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  padding: 0 calc(var(--main-padding) / 2);
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
