.image {
  width: 50px;
}

.arrowDown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--text-light);
  cursor: pointer;
  transition: transform var(--speed);
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--text-light);
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform var(--speed);
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--text-light);
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform var(--speed);
}
.arrowUp:hover {
  transition: border-top var(--speed);
  border-top: 10px solid var(--blue-200);
  transform: rotate(-50deg) scale(1.3);
  transition: all var(--speed);
}

.dropdownContainer {
  position: relative;
}

.label {
  color: var(--text-light, #999);
  font-weight: normal;
}

.dropdownInput {
  display: flex;
  align-items: center;
  color: var(--gray-200);
  font-weight: lighter;
  border-radius: var(--radius);
  padding: var(--main-padding);
  border: 1px solid var(--gray-200);
  margin: calc(var(--main-margin) / 3) 0;
  background-color: var(--text-dark, #282c34);
}

.dropdownInput:hover {
  border: 1px solid var(--blue-200);
  transition: all var(--speed);
}

.dropdownPlaceholder {
  color: var(--gray-300);
  margin-bottom: 6px;
  font-weight: 400;
  user-select: none;
}
.dropdownPlaceholder:hover {
  color: var(--blue-200);
  transition: all var(--speed);
}
.dropdownValues {
  display: flex;
  flex-wrap: wrap;
  margin-left: 6px;
  align-items: center;
  padding: calc(var(--main-padding) / 2);
}

.dropdownValue {
  user-select: none;
  display: inline-flex;
  width: fit-content;
  align-items: center;
  color: var(--gray-200);
  border-radius: var(--radius);
  padding: var(--main-padding);
  justify-content: space-between;
  background-color: var(--gray-300);
  animation: expand calc(var(--speed) / 3) ease-in-out;
  margin: 0 calc(var(--main-margin) / 2) calc(var(--main-margin) / 2) 0;
}

.dropdownRemove {
  cursor: pointer;
  margin-left: calc(var(--main-margin) / 2);
}

.closeIcon {
  display: flex;
  align-items: center;
  transition: color var(--speed);
}

.closeIcon:hover {
  padding: 1px;
  border-radius: 50%;
  color: var(--pink-500);
  background-color: var(--bg-dark);
}

.dropdownOptions {
  top: 100%;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  -webkit-transition: all 600ms, visibility 600ms;
  transition: all 600ms, visibility 600ms;
}
.dropdownActive {
  opacity: 10;
  visibility: visible;
}
.dropdownItem {
  width: 100%;
  display: flex;
  user-select: none;
  align-items: center;
  color: var(--gray-200);
  justify-content: flex-start;
  padding: var(--main-padding);
  border-radius: var(--radius);
  border-bottom: 1px solid grey;
  background-color: var(--bg-dark);
  height: calc(var(--main-margin) * 3);
}
.dropdownItem:nth-child(odd) {
  filter: brightness(0.8);
}
.dropdownItem:last-child {
  margin-bottom: var(--main-margin);
}
.dropdownItem:hover {
  cursor: pointer;
  background-color: slategray;
}
.dropdownItem img {
  width: 40px;
  margin-right: 20px;
  border-radius: 50%;
  padding: 0 calc(var(--main-padding) / 2);
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }
}
