.btn {
  padding: var(--main-padding) calc(var(--main-padding) * 4);
  border: 1px solid transparent;
  border-radius: var(--radius);
  transition: all var(--speed);
  text-transform: capitalize;
  background: transparent;
  color: var(--blue-200, #61dafb);
  font-weight: 900;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid var(--blue-200, #61dafb);
  box-shadow: var(--shadow);
  filter: brightness(1.1);
}

.btn:focus {
  transition: all var(--speed);
  box-shadow: var(--shadow);
  outline: none;
}
