.formContainer {
  border-radius: var(--radius);
  border-radius: var(--radius);
  text-align: left;
  border-radius: var(--radius);
  background-color: var(--bg-semi-dark);
  padding: var(--main-padding);
  border: var(--gray-200) solid 1px;
}

.formTitle {
  padding: var(--main-margin) 0;
  color: var(--gray-200);
}
