.btn {
  padding: var(--main-padding) calc(var(--main-padding) * 4);
  border: 1px solid var(--blue-200, #61dafb);
  min-height: calc(var(--main-margin) * 2);
  background: var(--blue-200, #61dafb);
  border: 1px solid transparent;
  border-radius: var(--radius);
  transition: all var(--speed);
  font-size: var(--text-base);
  color: var(--text-dark);
  font-weight: 900;
  cursor: pointer;
}

.children {
  vertical-align: middle;
  display: inline-block;
  font-size: large;
}

.loading {
  margin: 0 0 0 var(--main-margin);
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
}

.btn:hover,
.btn:focus {
  border: 1px solid var(--gray-200, #61dafb);
  box-shadow: 0px 0px 6px var(--pink-500);
  background: var(--blue-200, #61dafb);
  color: var(--text-dark);
  box-shadow: var(--shadow);
  filter: brightness(1.1);
  outline: none;
}

.btn:disabled {
  border: 1px solid transparent;
  background: var(--gray-300);
  box-shadow: var(--shadow);
  color: var(--gray-200);
  filter: brightness(1.1);
  cursor: progress;
  outline: none;
}

.primaryPink {
  background: var(--blue-200);
  color: black;
}

.primaryPink:hover {
  background: var(--pink-500);
  box-shadow: var(--shadow);
  color: white;
}

.primaryPink {
  background-color: var(--pink-500);
  color: var(--gray-200)
}

.primaryPink:hover,
.primaryPink:focus {
  background-color: var(--pink-500);
  color: var(--gray-200);
  filter: brightness(1.2);
}

.secondary {
  background-color: transparent;
  border: 1px solid var(--gray-200);
  color: var(--gray-200);
  border: 1px solid var(--gray-200);
  color: var(--gray-200);
}

.secondary:hover,
.secondary:focus {
  border: 1px solid var(--blue-200);
  color: var(--text-dark);
  filter: brightness(1.2);
}
.secondary:disabled {
  border: 1px solid transparent;
  background: var(--gray-300);
  box-shadow: var(--shadow);
  color: var(--gray-200);
  filter: brightness(1.1);
  outline: none;
}

.secondaryPink {
  background-color: transparent;
  border: 1px solid var(--pink-500);
  color: var(--gray-200);
}

.secondaryPink:hover,
.secondaryPink:focus {
  background-color: var(--pink-500);
  border: 1px solid var(--pink-500);
  color: var(--gray-200);
}

.secondary:disabled {
  border: 1px solid transparent;
  background: var(--gray-300);
  box-shadow: var(--shadow);
  color: var(--gray-200);
  filter: brightness(1.1);
  outline: none;
}
