.card {
  border-radius: var(--radius);
  background: var(--bg-semi-dark);
  color: var(--gray-200);
  position: relative;
  user-select: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none;
  text-align: left;
  padding: calc(var(--main-margin) / 3);
  border: var(--gray-200) solid 1px;
  transition: var(--speed);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.1);
  background-color: var(--bg-dark);
  z-index: 10;
}

.figure img {
  border-radius: var(--radius) var(--radius) 0 0;
  clip-path: ellipse(100% 55% at 48% 44%);
  place-items: center center;
  object-fit: cover;
  height: 150px;
  width: 100%;
}
.closeBtn {
  margin: var(--main-margin);
  border-radius: 50%;
  transition: var(--speed);
  color: var(--gray-200);
  position: absolute;
  cursor: pointer;
  font-size: x-large;
  right: 0;
  top: 0;
}
.closeBtn:hover {
  color: var(--blue-200);
  filter: invert() brightness(2);
}

.cancelBtn {
  /* filter: invert(); */
  filter: brightness(0.5);
}
.cancelBtn:hover {
  filter: invert() brightness(2);
}

.saveBtn:hover {
  filter: invert() brightness(2) hue-rotate(90deg);
}

.saveCancelContainer {
  display: flex;
  justify-content: space-around;
}

.cardTitle {
  font-size: x-large;
  font-weight: bold;
  padding: var(--main-padding);
}

.cardBody {
  padding: var(--main-padding);
  /* margin-bottom: 50px; */
  flex-grow: 1;
}

.divider {
  border: 1px solid var(--blue-200);
  filter: opacity(0.4);
  border-radius: 5px;
}

.cardInfo {
  display: flex;
  font-size: small;
  color: var(--gray-300);
}

.cardFooter {
  /* position: absolute;
  bottom: 0; */
  /* padding-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--main-padding);
  width: 100%;
}

.editAuthor {
  border: 1px solid var(--blue-200);
  padding: 2px 5px;
  background-color: var(--drark);
  border-radius: var(--radius);
  font-size: x-large;
  font-weight: bold;
  color: var(--gray-200);
  color: var(--gray-200);
  width: 100%;
}

.editBody {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  border: 1px solid var(--blue-200);
  background-color: var(--drark);
  color: var(--gray-200);
  padding: var(--main-padding);
  border-radius: var(--radius);
  font-size: var(--text-sm);
  outline: 0 none;
  resize: vertical;
  height: 150px;
  width: 100%;
  /* margin: var(--main-margin) 0; */
}
