.footer {
  margin-top: 50px;
  background-color: var(--bg-dark, #20232a);
  color: var(--gray-200, #f7f7f7);
  font-weight: lighter;
}

.footerContent {
  padding: var(--main-padding) 0;
  color: var(--blue-200, #61dafb);
  justify-content: space-between;
  max-width: var(--max-width);
  align-items: center;
  margin: auto;
  display: flex;
}

h1,
p,
footer {
  font-size: var(--text-sm);
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .footer {
    margin-top: 0;
  }
}
