.footer {
  margin-top: 50px;
  background-color: var(--bg-dark, #20232a);
  color: var(--gray-200, #f7f7f7);
  font-weight: lighter;
}

h1,
p,
footer {
  font-size: var(--text-sm);
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .footer {
    margin-top: 0;
  }
}
