.header {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: var(--bg-dark, #20232a);
  padding: var(--main-padding);
  font-size: var(--text-xl);
  color: var(--blue-200, #61dafb);
  position: sticky;
  font-weight: bold;
  z-index: 1;
  top: 0;
}

.routeLink {
  color: var(--blue-200, #61dafb);
  text-decoration: none;
}

.headerContent {
  justify-content: space-between;
  color: var(--blue-200, #61dafb);
  align-items: center;
  display: flex;
}

.icon {
  border-radius: calc(var(--radius) * 2);
  background-color: var(--gray-300);
  height: calc(var(--text-sm) * 2);
  width: calc(var(--text-sm) * 2);
  transition: filter var(--speed);
  margin: 0 var(--main-margin);
  align-items: center;
  padding: 5px;
  cursor: pointer;
  display: grid;
}

.icon:hover {
  filter: brightness(1.2);
}

@media only screen and (max-width: 768px) {
  .header-content {
    max-width: 100%;
  }
}
