.inputBody {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.error {
  color: red;
  font-size: var(--text-xs);
  margin: calc(var(--main-margin) / 2) 0;
}

.input {
  padding: var(--main-padding);
  border: 1px solid var(--blue-200);
  border-radius: var(--radius);
  outline: 0 none;
  width: 100%;
}

.input:focus {
  outline: none;
  box-shadow: 0px 0px 2px #0066ff;
}
