.inputBody {
  flex-direction: column;
  text-align: left;
  display: flex;
}

.label {
  color: var(--text-light);
  font-weight: normal;
}

.error {
  font-size: var(--text-xs);
  color: red;
}

.input {
  margin: calc(var(--main-margin) / 3) 0;
  border: 1px solid var(--blue-200);
  border-radius: var(--radius);
  padding: var(--main-padding);
  font-weight: lighter;
}

.input:focus {
  box-shadow: 0px 0px 2px #0066ff;
  transition: all var(--speed);
  font-size: var(--text-sm);
  font-weight: bold;
  outline: none;
}
