.aside {
  border-left: solid 2px var(--border-color, #bdbdbd34);
  background-color: var(--bg-semi-dark, #bdbdbd13);
  flex-direction: column;
  color: var(--gray-200);
  grid-area: sidebar;
  text-align: left;
  display: flex;
  padding: var(--main-padding);
}

.link {
  padding: var(--main-padding);
  margin: var(--main-margin);
  font-size: var(--text-sm);
  color: var(--gray-200);
  width: 100%;
}

.active {
  border-left: solid 5px var(--blue-200, #61dafb);
  color: var(--blue-200, #61dafb);
  font-weight: bold;
}

.link:hover {
  color: var(--gray-300);
}

@media only screen and (max-width: 768px) {
  .aside {
    position: sticky;
    bottom: 0;
    z-index: 10;
    background-color: var(--bg-dark, #20232a);
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: calc(var(--main-margin) * 3);
    padding: 0;
  }
  .link {
    padding: calc(var(--main-padding) * 2);
    margin: 0;
    box-shadow: var(--shadow);
    /* padding: 0; */
  }
  .active {
    border-top: solid 5px var(--blue-200, #61dafb);
    border-left: none;
    color: var(--blue-200, #61dafb);
    font-weight: bold;
  }
}
