.container {
  margin: calc(var(--main-margin) / 2) 0;
  flex-direction: column;
  text-align: left;
  display: flex;
}

.label {
  color: var(--text-light, #999);
  font-weight: normal;
}

.textArea {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: calc(var(--main-margin) / 3) 0;
  background-color: var(--text-dark, #282c34);
  border: 1px solid var(--gray-200);
  padding: var(--main-padding);
  border-radius: var(--radius);
  font-size: var(--text-sm);
  color: var(--gray-200);
  resize: vertical;
  outline: 0 none;
  height: 150px;
}

.textArea:focus {
  border: 1px solid var(--blue-200, #61dafb);
  transition: all var(--speed);
  box-shadow: var(--shadow);
  font-weight: bold;
  outline: none;
}
.label::after {
  margin-left: calc(var(--main-margin) / 3);
  font-size: var(--text-xs);
  content: '*';
  color: red;
}

.error {
  font-size: var(--text-xs);
  color: red;
}
