.container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--main-padding);
  display: grid;
}

.title {
  background: linear-gradient(to right bottom, var(--blue-200), #2ebf91);
  margin: var(--main-padding) 0;
  border-radius: var(--radius);
  padding: var(--main-padding);
  text-transform: capitalize;
  box-shadow: var(--shadow);
  background-clip: text;
  font-size: xx-large;
  color: transparent;
  font-weight: bold;
}

.formContainer {
  margin: var(--main-padding) 0;
}
