.container {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  margin: auto;
}

.articlesContainer {
  display: flex;
  flex-direction: column;
}


.article {
  margin: 1em auto;
}

.btnSubmit {
  padding: var(--main-padding);
  /* background-color: var(--text-light); */
  color: var(--text-dark);
  font-weight: bolder;
  border: 1px solid var(--gray-200);
  border-radius: var(--radius);
  transition: all var(--speed);
  cursor: pointer;
}

.btnSubmit:hover {
  filter: brightness(1.1);
  font-weight: bolder;
  border: 1px solid var(--blue-200);
  box-shadow: var(--shadow);
}

.btnSubmit:focus {
  outline: none;
  font-weight: bolder;
  transition: all var(--speed);
  box-shadow: var(--shadow);
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
