.card-container-enter {
  transform: rotateX(-90deg);
  transform-origin: top;
  transform: translate(0 -100px);
  visibility: hidden;
}

.card-container-enter-active {
  transform: rotateX(0);
  transform: translate(0 0);
  transition: transform var(--speed) cubic-bezier(0.34, 1.56, 0.64, 1);
  visibility: visible;
}

.card-container-exit {
  transform: rotateX(0deg);
  transform-origin: top;
  transform: translate(0);
  opacity: 1;
}

.card-container-exit-active {
  transform: rotateX(-90deg);
  transform-origin: top;
  transform: translate(0 -100px);
  opacity: 0;
}

.side-bar-enter {
  transform: translate(500px);
  transform-origin: right;
  opacity: 0;
}

.side-bar-enter-active {
  transition: transform var(--speed) cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translate(0);
  transform-origin: right;
  opacity: 1;
}

.side-bar-exit {
  transition: transform var(--speed) cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translate(0);
  transform-origin: right;
  opacity: 1;
}

.side-bar-exit-active {
  transition: transform var(--speed) cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: translate(100px);
  transform-origin: right;
  opacity: 0;
}
