.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
  /* grid-template-rows: repeat(4, 1fr); */
  grid-template-areas:
    "navbar navbar navbar navbar"
    "main main main sidebar"
    "main main main sidebar "
    "footer footer footer sidebar";
  gap: 0.2rem;
  text-align: center;
  margin: 0 auto;
}

.header {
  grid-area: navbar;
  border-radius: var(--main-radius);
}

.main {
  grid-area: main;
  height: calc(100vh - 200px);
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}


.footer {
  grid-area: footer;
  border-radius: var(--main-radius);
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "sidebar"
      "main"
      "footer";
      max-width: calc(100vh - 200px);
  }
}