@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Vars */
:root {
  --blue-500:#00629E;
  --blue-200:#01ADFD;
  --blue-900: #292B33;
  --blue-700: #42454B;
  --gray-300: #6B7280;
  --gray-50: #F9FAFB;
  --gray-200: #E5E7EB;
  --main-radius: 5px;
  --main-padding: 10px;
  --max-width: 70%;
  font-family: 'Roboto', sans-serif;
    background: var(--blue-900);
    color: var(--gray-50);
}